In [1]:
import urllib
import pnwkit
import pandas as pd
import sqlalchemy as sq
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [2]:
#DB Connection
conFormat = urllib.parse.quote_plus(
    'Data Source Name=Franklin;' 
    'Driver={SQL Server};' 
    'Server=FRANKLIN;' 
    'Database=PnWDB;' 
    'Trusted_connection=yes;'
)
#create engine
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(conFormat))

# Extract

In [3]:
#Query GraphQL API using PnwKit-Py Wrapper
#Insert API Key here
kit = pnwkit.QueryKit("5992d973dadb75")

#Query first num of results at once
#Retrieves only fields attributes specified in .query() method
nation_query = kit.query(
    'nations', {'first': 500}, 'id', 'nation_name', 'leader_name', 'num_cities', 'date', 'color', 'last_active',
    'score', 'alliance_id', 'gross_domestic_product', 'gross_national_income', 'population', 'projects',
    'turns_since_last_city', 'turns_since_last_project', 'soldiers', 'tanks', 'aircraft', 'ships', 'missiles', 'nukes', 
    'wars_won', 'wars_lost'
)
#Query alliance field and attributes
alliance_query = kit.query(
    'alliances', {'first': 100}, 'id', 'name', 'score', 'color', 'date', 'nations { id }' 
)
#Query treaty field and attributes
treaty_query = kit.query(
    'treaties', {'first': 500}, 'id', 'treaty_type', 'date', 'alliance1_id', 'alliance2_id', 'turns_left'
)
#Query city field and attributes
city_query = kit.query(
    'cities', {'first': 500}, 'id', 'name', 'nation { nation_name }', 'nation_id', 'date', 'infrastructure',
    'land', 'powered'
)

#Paginate queries for all available results in each field
nations = nation_query.paginate("nations")
alliances = alliance_query.paginate("alliances")
treaties = treaty_query.paginate("treaties")
cities = city_query.paginate("cities")

#Initialize empty dictionaries that will later be put converted into Dataframes
#Also set column order here
nation_data = {
    'id': [], 'nation_name': [], 'leader_name': [], 'num_cities': [], 'date': [], 'color': [], 'score': [],
    'alliance_id': [], 'population': [], 'gross_domestic_product': [], 'gross_national_income': [], 'projects': [],
    'turns_since_last_city': [], 'turns_since_last_project': [], 'soldiers': [], 'tanks': [], 'aircraft': [], 'ships': [], 
    'missiles': [], 'nukes': [], 'wars_won': [], 'wars_lost': [], 'last_active': []
}

alliance_data = {
    'id': [], 'name': [], 'members': [], 'date': [], 'color': [], 'score': []
}
treaty_data = {
    'id': [], 'treaty_type': [], 'alliance1_id': [], 'alliance2_id': [], 'date': [], 'turns_left': []
}
city_data = {
    'id': [], 'name': [], 'nation': [], 'nation_id': [], 'date': [], 'infrastructure': [], 'land': []
}

In [4]:
#Convert paginator objects to dictionaries
#Iterate through paginator object: nations
for nation in nations:
    #iterate through empty dict and append values
    for key in nation_data:
        nation_data[str(key)].append(nation.__getattribute__(key))

#Iterate through paginator object: alliances
for alliance in alliances:
    #iterate through empty dict and append values
    for key in alliance_data:
        if key != 'members':
            alliance_data[str(key)].append(alliance.__getattribute__(key))
        #Special case where key != object atrribute
        else:
            alliance_data['members'].append(len(alliance.nations))

#Iterate through paginator object: treaties
for treaty in treaties:
    #iterate through empty dict and append values
    for key in treaty_data:
        treaty_data[str(key)].append(treaty.__getattribute__(key))

#Iterate through paginator object: cities
for city in cities:
    for key in city_data:
        #iterate through empty dict and append values
        if key != 'nation':
            city_data[str(key)].append(city.__getattribute__(key))
        #Special case where key != object atrribute
        else:
            #nested attribute nation_name
            city_data['nation'].append(city.nation.nation_name)

# Transform

In [5]:
#create DF from dictionaries
alliances_df = pd.DataFrame(alliance_data)
#change dtypes to appropriate datetime format
alliances_df['date'] = pd.to_datetime(alliances_df.date).dt.tz_localize(None)
#change column headers to more approprate names
alliances_df.rename(columns={'id': 'alliance_id', 'name': 'alliance_name', 'date': 'founded',
                             'color': 'color_bloc', 'score': 'alliance_score'}, inplace=True)
alliances_df.head()

,alliance_id,alliance_name,members,founded,color_bloc,alliance_score
0,790,Rose,247,2014-11-04 23:13:16,pink,1146007.52
1,1584,The Knights Radiant,167,2015-06-29 17:25:50,orange,664829.24
2,1023,The Fighting Pacifists,153,2015-01-26 15:22:05,white,559627.42
3,7452,Cataclysm,189,2020-04-13 19:15:17,white,481145.65
4,831,The Syndicate,94,2014-11-21 17:26:29,green,441418.43

In [6]:
#create DF from dictionaries
nations_df = pd.DataFrame(nation_data)
#change dtypes to appropriate datetime format
nations_df['date'] = pd.to_datetime(nations_df.date).dt.tz_localize(None)
nations_df['last_active'] = pd.to_datetime(nations_df.last_active).dt.tz_localize(None)
#change column headers to more approprate names
nations_df.rename(columns={'id': 'nation_id', 'num_cities': 'cities', 'date': 'founded', 'color': 'color_bloc',
                           'score': 'nation_score', 'gross_domestic_product': 'gdp', 'gross_national_income': 'gni', 
                           'projects':'national_projects'}, inplace=True)
#select records in nations_df if the alliance id exists in the alliance df
new_nations_df = nations_df[nations_df['alliance_id'].isin(alliances_df['alliance_id'])]
new_nations_df.head()

,nation_id,nation_name,leader_name,cities,founded,color_bloc,nation_score,alliance_id,population,gdp,...,turns_since_last_project,soldiers,tanks,aircraft,ships,missiles,nukes,wars_won,wars_lost,last_active
0,5270,Belleroph,Callisto,40,2014-08-05 00:09:31,pink,8844.74,10523,15802893,14909711423,...,1022,600000,50000,2985,486,0,0,33,95,2023-05-02 14:31:06
1,582,Nightsilver Woods,Luna,23,2014-08-05 00:09:35,gray,1840.09,615,565,102866907,...,8606,0,0,0,0,0,0,2,113,2022-02-26 21:12:20
2,439,Howell,Malal,32,2014-08-05 00:10:03,brown,3634.44,6088,5426656,2466517524,...,3035,0,0,0,0,0,0,191,263,2023-05-02 21:54:46
3,300,BEPU,Aenir,46,2014-08-05 00:10:40,green,9655.70,3339,20566976,38018088505,...,2904,228000,36000,2715,435,0,0,162,132,2023-05-02 20:46:33
4,405,Gladius,Samwise,42,2014-08-05 00:10:41,gray,8597.75,3339,18796381,18201756632,...,301,165000,28750,2310,305,0,0,74,108,2023-04-28 17:31:47

In [7]:
#create DF from dictionaries
treaties_df = pd.DataFrame(treaty_data)
#change dtypes to appropriate datetime format
treaties_df['date'] = pd.to_datetime(treaties_df.date).dt.tz_localize(None)
#change column headers to more approprate names
treaties_df.rename(columns={'id': 'treaty_id', 'alliance1_id':'sending_alliance_id', 'alliance2_id':'receiving_alliance_id'
                            , 'date': 'date_signed'}, inplace=True)
#select records in treaties_df if the alliance id exists in the alliance df
incomp_treaties_df = treaties_df[treaties_df['sending_alliance_id'].isin(alliances_df['alliance_id'])]
new_treaties_df = incomp_treaties_df[incomp_treaties_df['receiving_alliance_id'].isin(alliances_df['alliance_id'])]
new_treaties_df.head()

,treaty_id,treaty_type,sending_alliance_id,receiving_alliance_id,date_signed,turns_left
1,19893,Protectorate,10455,4271,2022-10-15 13:44:19,1133
2,20013,Protectorate,7817,4648,2022-10-31 02:06:21,716
3,20044,NPT,10455,9095,2022-11-04 14:46:09,7
5,20116,MDP,1023,9573,2022-11-09 23:11:14,71
6,20124,MDP,4150,10279,2022-11-10 19:16:30,81

In [8]:
#create DF from dictionaries
cities_df = pd.DataFrame(city_data)
#change dtypes to appropriate datetime format
cities_df['date'] = pd.to_datetime(cities_df.date).dt.tz_localize(None)
#change column headers to more approprate names
cities_df.rename(columns={'id': 'city_id', 'name': 'city_name', 'nation':'nation_name', 'date': 'date_built'}, 
                 inplace=True)
#select records in cities_df if the nation id exists in the nation df
new_cities_df = cities_df[cities_df['nation_id'].isin(new_nations_df['nation_id'])]
new_cities_df.head()

,city_id,city_name,nation_name,nation_id,date_built,infrastructure,land
0,10603,Flanaca,Belleroph,5270,2014-08-05,837.00,4500.0
1,10604,Selemne,Nightsilver Woods,582,2014-08-05,0.14,3020.0
2,10605,Howell,Howell,439,2014-08-05,1137.14,5000.0
3,10614,in the city of,BEPU,300,2014-08-05,3000.00,5020.0
4,10615,Green Dragon,Gladius,405,2014-08-05,3000.00,4500.0

# Load into DB

In [12]:
#send tables into DB, preserving column datatypes
alliances_df.to_sql('alliances', con=engine, schema='dbo', if_exists='append', index=False,
                    dtype={'alliance_id': sq.types.SMALLINT(),'alliance_name': sq.types.VARCHAR(),
                           'members': sq.types.SMALLINT(), 'founded': sq.types.DATETIME(),'color_bloc': sq.types.VARCHAR(),
                           'alliance_score': sq.types.FLOAT})

-1

In [13]:
#send tables into DB, preserving column datatypes
new_nations_df.to_sql('nations', con=engine, schema='dbo', if_exists='append', index=False,
                  dtype={'nation_id': sq.types.INT(), 'nation_name': sq.types.VARCHAR(100), 'leader_name': sq.types.VARCHAR(100),
                         'cities': sq.types.SMALLINT(), 'founded': sq.types.DATETIME(), 'color_bloc': sq.types.VARCHAR(100),
                         'nation_score': sq.types.FLOAT, 'alliance_id': sq.types.SMALLINT(), 'population': sq.types.INT(), 
                         'gdp': sq.types.BIGINT, 'gni': sq.types.BIGINT, 'national_projects': sq.types.SMALLINT(), 
                         'turns_since_last_city': sq.types.SMALLINT(), 'turns_since_last_project': sq.types.SMALLINT(), 
                         'soldiers': sq.types.INT(), 'tanks': sq.types.INT(), 'aircraft': sq.types.SMALLINT(), 
                         'ships': sq.types.SMALLINT(), 'wars_won': sq.types.SMALLINT(), 'wars_lost': sq.types.SMALLINT(), 
                         'last_active': sq.types.DATETIME()})

-1

In [14]:
#send tables into DB, preserving column datatypes
new_treaties_df.to_sql('treaties', con=engine, schema='dbo', if_exists='append', index=False,
                   dtype={'treaty_id': sq.types.INT(), 'treaty_type': sq.types.VARCHAR(),
                          'sending_alliance_id': sq.types.SMALLINT(), 'receiving_alliance_id': sq.types.SMALLINT(),
                          'date_signed': sq.types.DATETIME(), 'turns_left': sq.types.SMALLINT()})

new_cities_df.to_sql('cities', con=engine, schema='dbo', if_exists='append', index=False,
                    dtype={'city_id': sq.types.INT, 'city_name': sq.types.VARCHAR(100), 'city_name': sq.types.VARCHAR(100),
                           'nation_name': sq.types.VARCHAR(100), 'nation_id': sq.types.INT, 'date_built': sq.types.Date(),
                           'infrastructure': sq.types.DECIMAL(6,2), 'land': sq.types.DECIMAL(6,2)})

-1